.produto-detalhe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.imagem-container {
    width: 300px;
    margin-bottom: 20px;
}

.imagem-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.info-produto {
    text-align: center;
}

.info-produto h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.info-produto p {
    font-size: 18px;
    margin: 5px 0;
}
