* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 120px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
}

body.scrolled header {
    position: fixed;
    top: 0;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo img {
    height: 45px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #126cf3;
}

header .search-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .search-icons input {
    padding: 8px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;
}

header .search-icons a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

header .search-icons a:hover {
    color: #126cf3;
}


.form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.tab-button.active {
    background-color: #ff9800;
    color: white;
}

.form-content {
    display: none;
}

.form-content.active {
    display: block;
}

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.switch-form {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.switch-form a {
    color: #ff9800;
    text-decoration: none;
}
